* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background: url(../img/bg.jpg) repeat-x;
  font-family: Arial;
}

.wrap {
  width: 1000px;
  margin: 38px auto 0;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
}

header {
  position: relative;
  color: #1395B5;
}

.logo {
  position: absolute;
  top: 11px;
  left: 28px;
  text-decoration: none;
}

.logo h1 {
  margin-top: -70px;
  padding-left: 70px;
  font-size: 12px;
  font-weight: normal;
  color: #0F8EAE;
}

.contacts {
  position: absolute;
  top: 5px;
  right: 30px;
}

.contacts h5 {
  margin-bottom: 5px;
}

.contacts span {
  display: block;
  font-size: 14px;
  line-height: 18px;
}

.countries {
  position: absolute;
  top: 107px;
  right: 26px;
}

.countries li {
  float: left;
  margin-right: 5px;
  width: 50px;
}

.countries li a {
  display: block;
  font-size: 9px;
  color: #0F8EAE;
}

.countries figure {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}

.countries .flags {
  width: 50px;
  height: 47px;
  background: url(../img/flags.png) no-repeat;
}

.countries .flag-of-india {
  background-position: 3px 4px;
}

.countries .flag-of-nepal {
  background-position: -86px 4px;
}

.countries .flag-of-tibet {
  background-position: -175px 4px;
}

.countries .flag-of-bhutan {
  background-position: -264px 4px;
}

.countries .flag-of-sri-lanka {
  background-position: -353px 4px;
}

.countries .flag-of-maldives {
  background-position: -442px 4px;
}

.header_photo {
  border-top: 1px solid #009999;
  border-bottom:  1px solid #009999;
  margin-top: 175px;
}

.header_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -5px 0 0;
  padding: 0;
  height: 28px;
  border-bottom: 1px solid #000;
  background: #333;
  color: #fff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.header_menu li {
  position: relative;
  cursor: pointer;
}

.header_menu a {
  text-decoration: none;
  color: #fff;
}

.header_menu .submenu {
  display: none;
  position: absolute;
  width: 165%;
  top: 25px;
  left: -10px;
  background: #333;
  list-style: none;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
}

.header_menu .li-list:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 6px;
  margin-left: 5px;
  background: url(../img/white-triangles.png);
}

.header_menu .submenu li {
  padding: 5px 0 5px 10px;
}

.header_menu li:hover > .submenu {
  display: block;
}

.box {
  height: 100%;
  overflow: hidden;
}
.info {
  width: 210px;
  float: left;
  padding-bottom: 20000px;
	margin-bottom: -20000px;
  background: #EDEEF0;
}

.news {
  width: 210px;
  float: right;
  padding-bottom: 20000px;
	margin-bottom: -20000px;
  background: #EDEEF0;
}

.main_block {
  border: 1px solid #ccc;
  color: #424C43;
}

.main_block h3 {
  padding: 10px 0 5px 50px;
  color: #333;
}

.main_block h3 + nav li {
  padding: 0 0 7px 15px;
  font-size: 14px;
}

.main_block a {
  text-decoration: none;
  color: #333;
}

footer {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
}